<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입페이지</title>
</head>
<body>
    <h1>회원가입</h1>
    <form action="./joinMemberProcess" method="post">
        ID : <input name="member_id" type="text"><br>
        PW : <input name="member_pw" type="password"<br>
        Nick : <input name="member_nick" type="text"><br>
        gender : <input name="member_gender" value="M" type="radio">남
                <input name="member_gender" value="F" type="radio">여
        birth : <input name="member_birth" type="date"><br>
        phone : <input name="member_phone" type="text"><br>
        email : <input name="member_email" type="text"><br>
        <input type="submit" value="회원가입">
    </form>

</body>
</html>